@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

    <div class="content">
        <h1 class="page-title">MVD Movies Library</h1>
        <br />
        <div>
            <hr>
            <h3 class="lead">Movie Details</h3>
            <hr />

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ReleaseDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Genre)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
